# URL de l'API GitHub qui renvoie une liste de repositories
GITHUB_PROJECTS_API_URL=https://api.github.com/users/ysaidmohamed/repos?sort=updated&per_page=12

# Optionnel : augmente les limites de l'API GitHub pour les appels authentifiés
GITHUB_TOKEN=
